* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #548687;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    margin: 2rem 0;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 6vmin;
    color: #b0413e;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.box:hover {
    background-color: #e6e6e6;
}

#reset {
    margin-top: 2rem;
    height: auto;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    color: white;
    background-color: #b0413e;
    cursor: pointer;
    transition: background-color 0.2s;
}

#reset:hover {
    background-color: #91352f;
}
#new{
    margin-top: 2rem;
    height: auto;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    color: white;
    background-color: #b0413e;
    cursor: pointer;
    transition: background-color 0.2s;
}

.hide{
    display: none;
}